@import "tailwindcss";

@theme {
  --color-primary: #7765DA;
  --color-secondary: #5767D0;
  --color-accent: #4F0DCE;
  --color-dark: #373737;
  --color-light: #F2F2F2;
  --color-textMeta: #6E6E6E;
  --font-sans: "Inter", sans-serif;
}
